body{
    font-family: montserrat;
    margin: 0;
    background-color: black;
    color: #fff;
    overflow: hidden;
    /* this property hides the the overfloe content
    
    ex- if we made a box and the content size is grater than the box the content goes out of the box to stop the content in the 
    we use above property  it hides the overflow content
    */
}
.main{
    display: flex;
    height: 100vh;
}
.sidebar{
  background-color:black;
  width: 340px;
  border-radius: 1rem;/*16px*/
  margin: 0.5rem;
}
.main-content{
    overflow: scroll;
    background-color:#121212;
    flex: 1;
    border-radius: 1rem;
}

.music-player{
    position: fixed;
    background-color: black;
    bottom:0px;
    width: 100%;
    height: 72px;
    margin: 0 5%;
}
a{
    text-decoration: none;
    color: #fff;
}
.sidebar .nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100px;
    padding: 0.5rem 0.75rem;
}
.nav-option{
  line-height: 2.5rem;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  gap: 2rem;
  padding: 0.5rem 0.7rem;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
}
.library{
    height: 100%;
    background-color: #121212;
    border-radius: 1rem;
}

.library-nav{
    height: 3rem;
    border-radius: 1rem;
    margin:1rem 0;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
    gap: 2rem;
}
.library-nav i{
    font-weight: 600;
}
.library-nav img
{
    height:2rem;
}
.library-nav h6{
    margin-right: 4rem;
    text-transform: capitalize;
}
.library-options{
    opacity: 0.7;
}
.library-options:hover{
    opacity: 1;
}
.playlist{
    height: 190px;
    background-color:#201f1f;
    padding: 0.5rem;
    line-height: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: left;
    font-size: 1rem;
    border-radius: 1rem;
    margin: 0.4rem;
}
.playlist h1{
    font-size: 0.2rem;
}
.playlist h6{
    font-size: 1rem;
}
.btn1{
    height: 4rem;
    width: 12rem;
    border-radius: 2rem;
    padding: 5px;
    font-weight:600;
    background-color: #fff;
    font-size:large;
    cursor: pointer;
}
.podcast{
    height: 300px;
    background-color:#201f1f;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 1rem;
    border-radius: 1rem;
    margin: 0.4rem;
    padding: 1rem;
    
    line-height: 2rem;
}
.podcast h1{
    font-size: 1.45rem;
    text-transform: capitalize;
}
.podcast h6{
    font-size: 1rem;
    text-transform: capitalize;
}
.btn2{
    height: 4rem;
    width: 14rem;
    border-radius: 2rem;
    padding: 5px;
    font-weight:600;
    background-color: #fff;
    font-size:large;
    cursor: pointer;
}
.btn3{
    height: 2.5rem;
    width: 10rem;
    border-radius: 2rem;
    padding: 5px;
    font-weight:600;
    background-color: #fff;
    font-size:medium;
    cursor: pointer;
    border: transparent;
}
.btn4{
    height: 2.5rem;
    width: 10rem;
    border-radius: 2rem;
    padding: 5px;
    font-weight:600;
    color: #fff;
    background-color:black;
    font-size:medium;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    border: transparent;
}
.main-content{
    background:linear-gradient(to top,black,#201f1f);
}
.icon{
    height: 2.5rem;
    background-color: black;
    border-radius:50%;
    opacity: 0.7;
}
.icon:hover{
    opacity: 1;
}
.stcky-nav{
    /*this property allow to while scrolling the nav will naver scroll
    due to the position sticky and top =0;*/
    position:sticky;
    padding-right: 1rem;
    top: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap:1rem;
background-color:#201f1f;


}
.nav-opt{
   position: absolute;
   left: 16px;
   gap: 1rem;
   display: flex;
   opacity: 0.7;
}
.stcky-nav .user{
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
    border-radius: 50%;
    background-color:black;
    border: transparent;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}
.cards-album{
    height: 100%;
    margin: 2rem;
}
.cards{
    height: 50vh;
    margin: 1.25rem;
    /* background-color:rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 2rem;
}
.card{
    height: 60%;
    width: 200px;
    background-color: #201f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    text-transform: capitalize;
   
}
.card img{
    height: 200px;
    border-radius: 5px;
}
/* music player css */

.music-player .left-player{
    height: 100%;
    width: 30%;
}